.show.mx-custom:not(.active) {
    display: none !important;
}
.file-zoom-dialog.modal-v4.fullscreen.external .tab-content.mx-custom>.active, .lsq-external-form-container.modal-v4.fullscreen.external .tab-content.mx-custom>.active{
    max-height:none !important;
}
a.dropdown-toggle::after{
    display:none!important;
}
.flatpickr-current-month input.cur-year{
    padding-top: 0px;
    font-size: 13px;
}
.flatpickr-current-month span.cur-month{
    padding-top:0px;
    font-size: 13px;
    
}
.flatpickr-current-month{
    padding:4px;
}
.lsq-form-field-item .custom-combobox-input {
    width: 95%!important;
}
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-special-label-field-holder{
    border-bottom:none!important;
}

.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-special-label-field-holder:not([data-old-value]):before{
  content: '';
  background: linear-gradient(to right, transparent, #858482, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.form-group.mx-custom-textfield.mx-custom.lsq-form-field-form-group.lsq-form-label-top .lsq-form-ctrl-field-container-block.margin-neg21.lsq-form-special-label-field-holder.mx-custom.form-control.lsq-form-field-ctrl-text{
    display: none!important;
}
.form-group.mx-custom-textfield.mx-custom.lsq-form-field-form-group.lsq-form-label-top .lsq-form-ctrl-field-container-block.margin-neg21 .lsq-form-special-label-field-holder.mx-custom.form-control.lsq-form-field-ctrl-text::before{
    display: block!important;
}

.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-special-label-field-holder:after{
    content: "";
  position: relative;
  display: inline-block;
  
  padding: 0 .5em;
  line-height: 1.5em;
  color: #24bba0;
  background-color: black;
}

/*
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-special-label-field-holder{
    
   
    border: 0!important; 
  height: 1px!important; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important;
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0)!important; 
  margin-bottom:5px!important;
  max-resolution: top 5px !important;
  
} */
.ui-selectmenu-open {
    display: block;
    z-index: 1500!important;
}
.ui-selectmenu-item-focus ,.ui-state-hover{
    background: #198dfa;
    color:#262626;
}
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-iframe-field-holder{
    min-height:100vh!important;
    overflow:scroll!important;
}


.lsq-iframe-container iframe{
    width: 100%!important;
    /* max-height: 100%; */
    height: 100vh!important;
    overflow: hidden!important;
    display: block!important;
    /* scroll-behavior: smooth; */
}
.lsq-iframe-container{
    overflow: hidden!important;
    
}
.lsq-iframe-container::-webkit-scrollbar ,.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-iframe-field-holder::-webkit-scrollbar{ width: 0 !important }
.lsq-iframe-container ,.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-iframe-field-holder{ overflow: -moz-scrollbars-none; }
.lsq-iframe-container ,.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .lsq-form-iframe-field-holder{ -ms-overflow-style: none; }

.lsq-external-form-container .accordion-heading{
    font-weight: 500;
}
.margin-top-neg2 {
	margin-top: 9px !important;
}
select option{
    background: #fff!important;
}
ul[role="listbox"]{
    background: #fff;
    max-height:none!important;
    height:100%!important;
    color:#262626;
}
li[role="presentation"] a[role="option"]{
    background: #fff;
    color:#262626!important;
}
li[role="presentation"] a[role="option"]{
    background: #fff;
    color:#262626!important;
}
li[role="presentation"] a[role="option"]:focus{
    background: #198dfa;
    color:#262626!important;
}
li[role="presentation"] a[role="option"]:hover{
    background: #9eccf8;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-ctrl-text.ui-state-hover{
    position: relative;
    margin-bottom:2px!important;
}
.flatpickr-calendar.open {
    z-index: 2994;
}
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item.lsq-form-two-col .lsq-form-field-ctrl-text, .lsq-form-section-container .lsq-form-section-body .lsq-form-field-item.lsq-form-two-col .lsq-form-iframe-field-holder{
    max-height:none!important;
    overflow: hidden;
    /* min-height:150px; */
}
.btn-primary{
    
    background:#6c5ce7!important;
    transition: all 1s;
    border:0px!important;
}
.lsq-external-form-container .modal-footer .btn-primary:hover{
    background-color:#0b4467 !important;
    transition: all 1s;
}

.file-zoom-dialog.modal-v4 .modal-footer .btn-primary, .lsq-external-form-container.modal-v4 .modal-footer .btn-primary {
    border: 1px solid transparent!important;
        color: #fff!important;
            cursor: pointer!important;
                padding: 6px 20px 6px 20px!important;
                    text-decoration: none!important;
                        vertical-align: -3px!important;
                            float: right!important;
border-radius: 34px !important;
/* background-image: linear-gradient(50deg, #6c5ce7, #74b9ff) !important; */
 box-shadow: 0px 2px 7px 1px rgba(0,0,0,0.2);
}
.lsq-external-form-container .modal-footer .btn-primary:hover{
    background-color:#0b4467 !important;
    transition: all 1s;
}
.lsq-form-wrapper{
    box-shadow: 1px 0px 20px rgba(0,0,0,0.1);
}
.lsq-external-form-container .lsq-form-body-wrapper {
    border: 1px solid #eee;
        border-top: none;
            border-bottom: none;
                width: 100%;}

                .fullscreen.modal-v4 .modal-footer {
                    border: 1px solid #ddd !important;
                    border-radius: 4px;
                    border-top-left-radius: 0px !important;
                    border-top-right-radius: 0px !important;
            }

.lsq-external-form-container .custom-combobox-input{
    width:95% !important;
}



.lsq-form-header {
    display: none;
}
.lsq-form-section-container .lsq-form-section-body .lsq-form-field-item .dropdpwn-div.lead-multiselect-control .btn-group.bs-btn-group{
    
    width:100%;
}
.dropdpwn-div.lead-multiselect-control.lsq-form-ctrl-field-container-block{
    margin-top:-20px!important;
}
.modal-v4.fullscreen.external .modal-footer {
    background-color: #cbd8de!important;
}
.mx-custom-tabs .nav-tabs > li.active > a, .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li > a {
    text-overflow: unset;
    max-width: 100%;
    /* color:rgb(0, 128, 0);
    background: rgb(168, 221, 168); */
    color:cornflowerblue;
    padding-top:12px!important;
    background: #d9e3eb;
    font-weight: 550;
    
    height:54px!important;
    max-height:none!important;
    text-overflow: ellipsis;
}
.mx-custom-tabs .nav-tabs > li.active > a, .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li:active > a:focus {
    border-bottom:none!important; 
    background-color:#fcdc9a;
    color:#faa31a;
  
    cursor: pointer!important;
}
 .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li > a:hover {
    border-bottom:none!important; 
    background-color:#fcdc9a;
    color:#faa31a;
    cursor: pointer!important;
    transition: 1s;
    
}

.mx-custom-tabs .nav-tabs > li.active > a, .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li:active > a:focus {
    border-bottom:none!important; 
    background-color:#fcdc9a;
    color:#faa31a;
    cursor: pointer!important;
    

}

/* 
.mx-custom-tabs .nav-tabs > li > a {
    padding-top:20px!important;
} */
.mx-custom-tabs .nav-tabs > li > a:focus{
    text-overflow: unset;
    max-width: 100%;
    /* color:rgb(0, 128, 0);
    background: rgb(168, 221, 168); */
    color:cornflowerblue;
    background: #cedfec;

    font-weight: 500;
    transition:1s;
    text-overflow: ellipsis;
    cursor: pointer!important;

}
.mx-custom-tabs .nav-tabs > li.active > a, .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li > a{
    margin-right:2px!important;
}

.mx-custom-tabs .nav-tabs > li.active > a, .mx-custom-tabs .nav-tabs > li.active > a:hover, .mx-custom-tabs .nav-tabs > li.active > a:focus {
    
    border: none;
    border-bottom:none !important;

}

.mx-custom-tabs-scroll-container .lsq-form-custom-tab-control-wrapper .lsq-form-custom-tab-scroller-right,.mx-custom-tabs-scroll-container .lsq-form-custom-tab-control-wrapper .lsq-form-custom-tab-scroller-left {
    border-bottom: 2px solid #fff;
    background: #cbd8de;
    margin-right:-5px;
    border:none!important;
    
    padding-top:11.5px!important;
    margin-left:-5px;
    height:55.5px;
    padding-top:6px;
    border-radius: 0px;
    border:0px;
    margin-top:-0.3px;
    display: flex;
    width:100%!important;
    background-position: -260px -317px!important;
    text-align:center;
    justify-content: center;
    align-self: center;
    margin-left:0px!important;
    margin-right:0px!important;
}
.lsq-form-custom-tab-scroller.lsq-form-custom-tab-scroller-right{
    width:100%!important;
    
}
scroll-container .clearfix {
    overflow: hidden;
}
.mx-custom-tabs.lsq-form-tabs.mx-custom-tabs-scroll {
   
    border-top: 20px solid #7c7cc1!important;
}

.lsq-external-form-container .lsq-form-body-wrapper{
    border-left:0px;
    border-right:0px;
}
ul.lsq-form-custom-tab-center-panel-list.mx-custom.nav.nav-tabs.lsq-form-tabs-list {
    padding-right: 0px;
    padding-left: 0px;
}
.lsq-form-custom-tab-tabs.lsq-form-tabs-list-item a{
    height:54px!important;
}
ul.lsq-form-custom-tab-center-panel-list.mx-custom.nav.nav-tabs.lsq-form-tabs-list{
    height:54px;
}
.lsq-form-custom-tab-center-panel-wrapper{
    height:54px!important;
    
}

.fa-2x{
    margin-top:-3px;
    font-size: 25px;
    float:left; 
    margin-right:-2px!important;
    
}
.lsq-iframe-container iframe{
    max-height:100%!important;
}
.form-group.mx-custom-textfield.mx-custom.lsq-form-field-form-group.lsq-form-label-top span label{
    display: hidden;
}
input[data-schemaname="EmailAddress"]{
    pointer-events: none; 
    cursor: no-drop!important; 
}
.lsq-form-ctrl-field-container-block textarea{
    height:250px;
}